.container-time{
padding: 10px 50px;
position: relative;
width: 50%;
background: none;
color: rgb(0, 0, 0);
animation: movedown 2s linear forwards;
opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-39px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.icons img{
    position : absolute  ;
    width: 80px;
    height: 80px; 
    
    right : 62px ;
     top: 15px ;
      z-index:10
}

.container-time:nth-child(1){
animation-delay: 1s;

}
.container-time:nth-child(2){
animation-delay: 2s;
}
.container-time:nth-child(3){
animation-delay: 3s;
}
.container-time:nth-child(4){
animation-delay: 4s;
}
.container-time:nth-child(5){
    animation-delay: 5s;
}
.container-time:nth-child(6){
    animation-delay: 6s;
}
.container-time:nth-child(7){
    animation-delay: 7s;
}
.container-time:nth-child(8){
    animation-delay: 8s;
}
          
        





.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.text-box{
    padding: 5px 20px 37px 20px;
    padding-top: 0px;
    padding-bottom: 42px;
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
    position: relative;
    width: 75%;
    max-width: 80%;

    max-height: 210px;
    margin-top: 16px;
    border: 1px solid  rgb(255, 255, 255);
    color: rgb(23, 23, 23);
    box-shadow: 0 0 10px  rgb(219, 219, 218);
}
.contain-dot{
    display: flex;
    justify-content: center;
    height: 100%;
}
.tb{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dot{
    height: 8px;
    width: 7px;
    position: absolute; 
    margin-right: 3.0px;
    top: 100px;
    opacity: 0;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 
        0 0 0 4px #9b9b9b22, 
        0 0 0 10px #8f8f8e22, 
        0 0 23px rgb(255, 255, 255),
        0 0 40px 5px  rgb(255, 255, 255) ,
        0 0 60px 10px rgb(255, 255, 255)  ; 
        
    animation: movedot 12s linear forwards;
}

@keyframes movedot {
    0% {
        top: 23%;
        opacity: 1;
    }
    25% {
        top: 77%;
        opacity: 1;
    }
    45% {
        top: 122%;
        opacity: 1;
    }
    65% {
        top: 166%;
        opacity: 1;
    }
    75%{
        top: 175%;
        opacity: 0;
    }
    95%{
    top: 26%;
        opacity: 3;
    }
    100% {
        top: 23%;
       
        opacity: 0;
        
    }
}



.text-box p{
    font-size: 13px;
    margin-left: 0px;
}
.text-box h1{
    color: rgb(233, 95, 53);
}
.left-container{
    left: 0;
    
}
.right-container{
    left: 50%;
   
}
.timeline::after{
    position: absolute;
    content: '';
    width: 3px;
    height: 125%;
    background: rgb(255, 255, 255);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index:-1;
    animation: moveline 8s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
    
}
.container-time .icons{
    
    color: rgb(255, 255, 255);

}


.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 10px;
    z-index: 5;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-radius: 5px;
    
    border-left: 15px solid rgb(255, 255, 255);
   
    right: -14px;
  
}
.right-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 10px;
    z-index: 5;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:15px solid rgb(255, 255, 255) ;
    left: -14px;
}
