/* ===== Parent Container ===== */
.conatinering {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 98%;
  top: 30%;
   
  padding: 170px 0px 20px 20px;
  flex-wrap: wrap ;
}

/* ===== Project Card ===== */
.proj-container {
  background: rgba(255, 255, 255, 0.04);
  width: 340px;
  min-height: 190px;

  border: 1px solid rgb(233, 95, 53);
  box-shadow: 0 10px 30px rgba(233, 95, 53, 0.25);
  padding: 10px 22px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  transition: all 0.35s ease;
  animation: fadeUp 0.6s ease;
}

/* Hover Effect */
.proj-container:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 18px 40px rgba(233, 95, 53, 0.45);
}

/* Active (Read More Open) */
.proj-container.active {
  min-height: 320px;
}

/* ===== Title & View ===== */
.view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
}

.view h2 {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.view img {
  width: 38px;
  height: 38px;
}

/* Eye Icon */
.view a {
  color: rgb(233, 95, 53);
  transition: transform 0.2s ease;
}

.view a:hover {
  transform: scale(1.2);
}

/* ===== Description ===== */
.title-contain p {
  font-size: 0.95rem;
  line-height: 1.5;
  margin-top: 6px;
  font-family: 'Poppins';
}


.read {
  margin-top: auto;
  width: fit-content;
  color: rgb(233, 95, 53);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-family: 'Poppins';
  transition: color 0.3s ease;
}

.read:hover {
  color: rgb(200, 60, 20);
}


.title-contain > p:last-child {
  margin-top: 8px;
  font-size: 0.9rem;
  opacity: 0.95;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


@media (max-width: 768px) {
 
.conatinering{
  display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 100%;
    margin-top: 20%;
    top: 30%;
  padding: 0px;
    flex-wrap: wrap;
}
.proj-container{
    background: rgba(255, 255, 255, 0.04);
        width: 280px;
        min-height: 190px;
        
        border: 1px solid rgb(233, 95, 53);
        box-shadow: 0 10px 30px rgba(233, 95, 53, 0.25);
        padding: 10px 22px;
        font-family: "poppins";
        display: flex;
        flex-direction: column;
        transition: all 0.35s ease;
        animation: fadeUp 0.6s ease;
}
.proj-container p{
  font-size: 13px;
}
.proj-container h2{
  font-size: 20px;
}
  .view a {
    color: rgb(130, 3, 130);
  }
.title-contain > p:last-child {
  margin-top: 8px;
  font-size: 0.8rem;
  opacity: 0.95;
}

  .read {
    color: rgb(130, 3, 130);
  }
}
