.proj-container{
background-color: white;
width: 80%;
height: 180px;
border-radius: 30px;
border-top-left-radius: 0px ;
position: relative;
top: 10px;
left: 140px;
margin-top: 50px;
margin-bottom: 40px;
padding: 5px 25px 15px 25px; 
display: flex;
flex-direction: column;
gap: 5px;
transition: height 0.3s ;
animation: seeda 1s linear;
animation-timeline: view();
animation-range: entry 0  cover 20%;
}


@keyframes seeda {
    from {
        opacity: 0;
        scale: 0.4;
    }
    to{
        opacity: 1;
        scale:1;
    }   
}

.active{
 
    height: 320px;
    transition: height 0.4s linear;
}
.title-contain{
    display: flex;
    gap: 1px;
    flex-direction: column;
}
.title-contain img{
    width: 40px;
    height: 40px;
    position: relative;
    top: 12px;
    left: 20px; 
}
.title-contain h2,p{
    margin: 5px;
}
.view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.view h3{
    margin-right: 20px;
    color: rgb(233, 95, 53);
    width: 40px;
}
.read{
    color: rgb(233, 95, 53);
    user-select: none;
}

@media screen and (max-width: 768px) {
     .proj-container {
      width: 80%;
      margin-left: -126.5px;
      padding-left: 20px;
     margin-top: 0px;
      margin-right: 0px;
      height: auto;
      margin-bottom: 30px;6
         border-radius:0px;
      
      transition: height auto 1s linear;
     
     
    }
    .containering{
        width: 100%;
        padding-right: 0px;
    }
  
    .active {
      height: auto;
      transition: height auto 1s linear;
    }
  
    .title-contain img {
      width: 25px;
      height: 25px;
      top: 8px;
      left: 10px;
    }
  
    .title-contain h2 {
      font-size: 1.1rem;
      margin-top: 11px;
    }
  
    .view {
      flex-direction: row;
      
      gap: 5px;
      text-align: center;
    }
  
    .view h3 {
      margin-top: 16px;
      width: auto;
    }
    .view a{
margin-top: -10px;
font-size: 16px;
    }
    .read {
      width: auto;
      font-size: 0.95rem;
    }
  }
  
