.stack-container {
 position: relative;
    width: 100%;
    height: 100%;
    left: -40px;
    perspective: 600px;
}

.card-rotate {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.card-rotate-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 18px 40px rgba(56, 56, 56, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
