.hero {
    background: white; 
    display: flex;
  
    box-shadow: 0 0 35px white;
    border: 2px solid rgb(82, 82, 82);
    border-style: dashed;
    border-radius: 0px;
    width: 90%;
    height: auto;
    padding-right: 60px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: 18px;
    font-family: 'Poppins';
    font-style: normal;
   
  }

  /*----------------------------------*/ 
 .hero-title {
    font-size: 32px;
    font-weight: 600;
    width: auto;
}

.name-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    position: relative;
}
.name-wrapper img{
    position: absolute;
    margin-left: 5px; 
}

.splash-svg {
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 130%;
    height: auto;
    z-index: 0;
    opacity: 0.9;
}

.name-text {
    position: relative;
    z-index: 1;
    font-weight: 800;
    color: #111;
    padding: 0 6px;
}


  
  .whole-contain-hero {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 8%;
  }
  
  .hero-left {
    color: rgb(0, 0, 0);
    margin-left: 100px;
    margin-top: 10px;
    padding: 30px;
  }
 
  
  .names h2 {
    font-size: 37px;
  }
  
  .names span {
    color: rgb(212, 62, 16);
   
  }
  
  .names img {
  width: 190px;
    height: 240px;
    opacity: 0.5;
  }
  .names h2 p span{
    color: rgb(233, 95, 53) ;
    margin-left: 0px;
  } 
  
  .hero-left .hero-latest-btn {
    color: white;
    background-color: #000000;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    margin-top: 50px;
    padding: 8px;
    
  }
  
  .hero-left .hero-latest-btn:hover a {
    color: rgb(0, 0, 0);
  }
  
  .hero-left .hero-latest-btn a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .hero-left .hero-latest-btn a div:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .hero-left .hero-latest-btn:hover {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(0, 0, 0);
  }
  
  .hero-right {
    margin-right: 100px;
    display: block;
    z-index: 1;
  }
  
  @media screen and (max-width: 768px) {
    .hero {
    flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
        border: none;
        box-shadow: none;
        background-color: transparent;
        border-radius: 0;
      
    }
  
    .hero-left {
      margin: 0px 0 0 0;
        width: 90%;
        display: flex;
        border: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  
    .names h2 {
      font-size: 35px;
      color: black;
      margin-top: 0px;
      
    }
  
    .names p {
      font-size: 16px;
      color: black;
      text-align: center;
        line-height: 25px;
    }
    .names span{
      color: rgb(166, 14, 166);
      z-index: 0;
    }
  
    .names img {
              width: 215px;
        height: 205px;
        margin-left: 5px;
    }
  
    .hero-left .hero-latest-btn {
      width: 60%;
      margin-top: 20px;
      text-align: center;
      background-color: rgb(140, 37, 140);
    }
      
   .hero-left .hero-latest-btn:hover{
      color: rgb(128, 29, 128);
      border: 2px solid rgb(128, 29, 128);
      background-color: transparent;
      box-shadow: 0 0 7px violet;
    }
    .hero-latest-btn:hover .anchor{
      color: rgb(128, 29, 128);
    }
    .hero-latest-btn .anchor:hover
    {
      color: rgb(128, 29, 128);
    }
  
    .hero-right {
      display: none;
    }
  
    .avatar {
      width: 70px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
    }
  
    #imgslogo {
      width: 140px;
      height: 80px;
      margin-left: 10px;
    }
  }
  