.hero{
    background:white;
    display: flex;
    margin-top: 0;
    box-shadow: 0 0 35px white;
    
    border-radius: 25px;
    width: 90%;
    height: 400px;
    padding-right: 60px;
   
    margin-top: 30px ; 
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    
}
.whol-contain{
    display: flex;
    justify-content: center;
}
.hero-left{
    color: rgb(0, 0, 0);
    margin-left : 100px;
    margin-top: 10px;
   
}
.names h2{
    font-size: 45px;
}
.names span{
    color:rgb(233, 95, 53);
}
.names img{
    width: 30px;
    height: 30px;
}
.hero-left .hero-latest-btn { 
  
color: white;
background-color: #e95f35;
width: 160px;
height: 40px;
border: none;
border-radius: 7px;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 50px;
padding-top: 14px;

}
.hero-left .hero-latest-btn:hover a{
    color:  rgb(233, 95, 53);
    
}
.hero-left .hero-latest-btn a{
    color: white;
    text-decoration: none;
    cursor: none;
}
.hero-left .hero-latest-btn a div:hover{
    color:  rgb(233, 95, 53);
    text-decoration: none;
}
.hero-left .hero-latest-btn:hover{
    border: 1px solid  rgb(233, 95, 53);
    box-shadow:  0px 0px 5px rgb(233, 95, 53);
    background-color: transparent;
    color: rgb(233, 95, 53);
}
.hero-right{
margin-right: 100px;
}
