
.photo-c {
height: 360px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.rfm-marquee-container {
  height: 100%;
}


.rfm-marquee {
  height: 100%;
  display: flex;
  align-items: center;
}


.pic-c {
  margin-right: 32px; 
  display: flex;
  align-items: center;
  height: 100%;
}


.surya-img {
  width: 300px;
  margin-left: 20px;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}


.surya-img:hover {
  transform: rotate(0deg) scale(1.08);
  box-shadow: 0 18px 40px rgba(0,0,0,0.25);
}
@media (max-width: 768px) {

    .surya-img {
  width: 200px;
  margin-left: 20px;
  height: 120px;
  object-fit: cover;
  border-radius: 14px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
}