.skills-c{
    font-family: "poppins";
    text-align: center;
    width: 100%;
    margin-bottom: 9%;
    margin-top: 3%; 
}
.skills-c hr {
    width: 23%;
    border: none;                    
    height: 3px;                     
    background: linear-gradient(
        90deg,
        rgb(233, 95, 53),
        rgb(255, 140, 90)
    );                               
    margin-top: 10px;
    border-radius: 10px;             
    transition: all 0.3s ease-in-out;
}
.skills-left a {
    text-decoration: none;
}

.project-link {
    color: #E95F35; 
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.project-link:hover .arrow-small{

    font-size: 20px;
}

.project-text {
    color: #E95F35;
}

.arrow-small {
    font-size: 15px;
}

.skills-content{
    display: flex;
    padding: 0px 70px 0px 70px;
    flex-direction: row;
    gap: 15%;
    height: auto;
    align-items: center;
    width: 97%;
    margin-top: 30px;   
}
.skills-left{
    width: 60%;
    text-indent: 3px;
    line-height: 28px;
    text-align: start;
}

.skills-c:hover hr {
    width: 30%;                      
}
  .cardsda{
    width:180px;
    height: 180px;
  }
@media screen and (max-width: 768px) {
    .skills-h1{
        font-size: 24px;
    }
    .cardsda{
        width: 130px;
        height: 130px;
    }
    .skills-content{
                flex-direction: column;
        padding: 0px;
        gap: 60px;
        margin: 0;
        width: auto;
    }
    .skills-c{
        margin: 0;
        width: auto;
    }
    .skills-content p{
                width: 100%;
        line-height: 1.9;
    }
    .skills-left{
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
}