@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbar{
    display: flex;
    width: auto;
    height: 10%;
    z-index: 999;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'poppins';
    background-color: white;
    user-select: none;
    gap: 30px;
    position: fixed;
    padding: 0px 20px 0px 20px;
    
    box-shadow: 1px 8px 12px rgba(0, 0, 0, 0.237); 

  top: 3%;
  
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-cont{
display: flex;
justify-content: center;
align-items: center ; 
background-color: white ;

}

.button-org{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 0px;
    background-color: rgb(233, 95, 53);
    color: rgb(251, 251, 251);
    
font-size: 13px;
font-family: "poppins";
    font-style: normal;
font-weight: 400;
padding-top: 2px;
text-align: center;
}
.navbar button:hover{
  transition-duration: 2s;  
  cursor: pointer;
  
}

.tgl-btn{
  transition-duration: 2s;  
  cursor: pointer;
}

.icon-wrapper {
  display: inline-block;
  transition: transform 1s ease, opacity 0.3s ease;
}

.icon-exit {
  transform: rotate(360deg);
  opacity: 0;
}

.icon-enter {
  transform: rotate(0deg);
  opacity: 1;
}

.tgl-btn {
  transition-duration: 2s;
  cursor: pointer;
}



#imgslogo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
}

#imgslogo:hover{
  cursor: pointer;
}


.tgl-btn{
background-color: transparent;
color: rgb(233, 95, 53);
width: 50px;
height: 37px;
border-radius: 5px;
border: none;

}




.contact-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 0px;

}
.nav-logo img{
    width: 70px;
    height: 72px;
    margin-top: 0px;
}
.nav-logo{
    display: flex;
    gap: 12px;
    color: white;
    
}
.VioletColor{
  color:  rgb(233, 95, 53);
}

.nav-menu{
        list-style: none;
    display: flex;
    gap: 60px;
    font-size: 18px;
    font-family: 'Poppins';
    
}
.nav-menu li a{
   
    color: rgb(84, 84, 84);

}
.nav-menu li:hover{
    color: rgb(233, 95, 53); 
  
}
.nav-menu hr{
    background-color: red;
    height: 3px;
    border-radius: 5px;
}
.hamburger {
  display: none;
  font-size: 22px; 
  cursor: pointer;
  color: white;
  margin-right: 20px;
  background: none;
  border: none;
}

.contact-btn{
  
  z-index: 999;
}
 
  
@media screen and (max-width: 768px) {

  .navbar {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        height: auto;
        padding: 10px;
       
        position: relative;
        width: 90%;
        box-shadow: 0 4px 20px rgba(1, 1, 1, 0.23);
        z-index: 1;
  }
  
  .VioletColor{
    color: #962fbf;
  }
   
  
  .hamburger {
 display: block;
        position: absolute;
        right: -0%;
        background: none;
        border: none;
        font-size: 28px;
        color: black;
        cursor: pointer;
        z-index: 2;
  }

  .contact-btn {
    display: none !important;
  }

  .tgl-btn-mble {
    display: block !important;
    background: transparent;
    border: none;
    color: rgb(233, 95, 53);
    font-size: 22px;
    margin-left: 10px;
  }

  .nav-menu {
 display: none;
        flex-direction: column;
        gap: 18px;
        position: absolute;
        top: 63px;
        right: 13px;
        width: 85%;
        background-color: white;
        /* border-radius: 10px; */
        padding: 20px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
        z-index: 2;
        transition: all 0.3s ease;
        animation: come 300ms ease-in-out;
        z-index: -2;
        left: 10px;
  }
 


  @keyframes come {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


  .nav-menu.mobile {
    display: flex;
  }
#imgslogo{
  width: 55px !important;
  height: 55px !important;
}
  .nav-menu li {
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 16px;
    color: #962fbf;
  }

  .nav-menu li:last-child {
    border-bottom: none;
  }

  
  
  
}
