.footer-icons-container a{
    color: rgb(255, 255, 255);
}

.footer-icons-container:hover a span{
    
    transition: 200ms;
    transform: scale(0.532);
    color: red;
    
}
.footer-right img{
    width: 200px;
    height: 100px;
   
}
.footer-right{
     display: flex;
     gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot-c{
    color: rgb(255, 255, 255);
    margin-top: 80px;
    background-color:  rgb(0, 0, 0);
    width: auto;
    padding: 40px;
    border-top: 4px solid black;
    border-left:4px solid black;
    border-right: 4px solid black ;
   font-family: "poppins";
    font-style: normal;
    margin-top: 8%;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;    
}
.dark-mode .footer{
border-top: 4px solid rgb(255, 255, 255);
    border-left:4px solid rgb(255, 255, 255);
    border-right: 4px solid rgb(255, 255, 255) ;
    color: rgb(255, 255, 255);
    opacity: 1;
}
.dark-mode .footer-social-icon a{
    color: white;
}
.dark-mode .footer-copyright p{
    color: white;
}
.footer-copyright{
margin: 0;
color: rgb(255, 255, 255);
}

.dark-mode .footer-links{
    color: white;
}
.footer-links{
    color: rgb(255, 255, 255);
    display: flex;
    gap: 60px;
    list-style: none;
    margin-right: 40px;
    padding-left: 0px;
    font-weight: 500;
}
.footer-social-icon{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.developedby{
    font-size: 25px;
}

@media screen and (max-width:768px){

    .footer{
        color: rgb(0, 0, 0);
        margin-top: 30%;
        background-color:  transparent;
        width: 90%;
        position: relative;
        bottom: 0;
        left: 4%;
        border: 10px 2px;
        font-family: "poppins";
        font-style: normal;
        border-radius: 10px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .developedby{
        font-size: 25px;
    }
    .footer-copyright{
    margin: 0;
    color: rgb(255, 255, 255);
    }
    .footer-copyright{
        text-align: center;
    }
    .light-mode .footer-copyright p{
                font-size: 12px;
        color: #ffffff;
        text-align: start;
    }
    .footer-links{
        color: rgb(255, 255, 255);
        display: flex;
        gap: 15px;
        list-style: none;
        margin-right: 40px;
        font-size: 12px;
    }
    
    .foot-c{
        flex-direction: column;
        height: auto;
        gap: 20px;
    }
    .footer-right img{
    width: 100px;
    height: 70px;
   
}
.developedby{
    font-size: 25px;
}
    
}